<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <div id="container">
    	<a id="top"></a>
        <nav class="list">
            <div class="layout_item">
                <img src="https://images.unsplash.com/photo-1611605698323-b1e99cfd37ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" alt="" class="layout__img">
            </div>
            <div class="layout_item">
                <img src="https://images.unsplash.com/photo-1611605698335-8b1569810432?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1267&q=80" alt="" class="layout__img">
            </div>
            <div class="layout_item">
                <img src="https://images.unsplash.com/photo-1614680376408-81e91ffe3db7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1267&q=80" alt="" class="layout__img">
            </div>
        </nav>
        <header class="list">
            <div class=" layout_menu">
                <img src="https://assets.stickpng.com/images/580b585b2edbce24c47b2cad.png" alt="" class="logo_img">
            </div>
            <div class="layout_menu">HOME</div>
            <div class="layout_menu">NEW</div>
            <div class="layout_menu"><a href="/signup">SIGN UP</a></div>
            <div class="layout_menu"><a href="/login">LOGIN</a></div>
        </header>
        <div class="after_nav">
            <img src="../assets/img/center.png" alt="">
        </div>
        <main>
            <div class="main_item">
                <img src="https://images.unsplash.com/photo-1516926133025-705ee504386d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvd2JveXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="layout">
            </div>
            <div class="main_item">
                <img src="https://images.unsplash.com/photo-1602622572738-3b766bc2dc62?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y293Ym95fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="layout">
            </div>
            <div class="main_item">
                <img src="https://images.unsplash.com/photo-1596719033520-39451c977876?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y293Ym95fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="layout">
            </div>
            <div class="main_item">
                <img src="https://images.unsplash.com/photo-1516483638261-f4dbaf036963?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="layout">
            </div>
            <div class="main_item">
                <img src="https://images.unsplash.com/photo-1437846972679-9e6e537be46e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHRyYXZlbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="layout">
            </div>
            <div class="main_item">
                <img src="https://images.unsplash.com/photo-1531737212413-667205e1cda7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" alt="" class="layout">
            </div>
        </main>
        <footer>
            <div class="footer">
                <div class="layout_menu2"> <a href="#top">Home</a> </div>
                <div class="layout_menu2">NEW</div>
                <div class="layout_menu2">WORK</div>
                <div class="layout_menu2">CONTACT</div>
                <div class="layout_menu2"> Copyright by PhuocLong</div>
            </div>
        </footer>
    </div>
</body>

</html>