<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/signup.css">
    <title>Sign up</title>
</head>

<body>
    <div class="container">
        <div class="signup_form">
            <form action="signup" method="post" enctype="application/x-www-form-urlencoded">
                <h1>Sign up form</h1>
                <input type="text" placeholder="User name" class="box" id="username" name="username" required>
                <br>
                <input type="password" placeholder="Password" class="box" id="password" name="password" required>
                <br>
                <input type="text" placeholder="Phone number" class="box" id="phone" name="phone" required>
                <br>
                <input type="submit" class="submit">
            </form>
        </div>
    </div>
</body>

</html>